<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cristian.yarumalturistica">

    <application
        android:allowBackup="true"
        android:icon="@drawable/yarumal_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/YarumalTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/YarumalTheme.NoActionBar">


        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".EstablishmentActivity"
            android:label="@string/title_activity_establishment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/YarumalTheme.NoActionBar" />
        <activity
            android:name=".EventsActivity"
            android:theme="@style/YarumalTheme.NoActionBar">

        </activity>
        <activity android:name=".singleEvent"
            android:theme="@style/YarumalTheme.NoActionBar" >


        </activity>
    </application>

</manifest>